body {
  background-color: #14213d;
}
.movie-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 2.25%;
  align-items: center;
  color: whitesmoke;
  cursor: pointer;
}
.movie-item:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in;
}
.movie-item:hover .overlay {
  background: rgb(7, 7, 7);
  opacity: 0.8;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 15px;
}
.over-view {
  color: white;
  padding: 0 1em;
}
.member {
  margin: 0 0.72em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  cursor: pointer;
}
.MuiAutocomplete-option {
  background-color: #14213d;
  color: whitesmoke;
}
.MuiAutocomplete-listbox {
  background-color: #14213d;
  opacity: 0.9;
}
input {
  color: aliceblue;
}
.MuiTextField {
  color: orange;
}
